aioredis
asgiref
async-timeout
attrs
autobahn
Automat
bleach
certifi
cffi
channels
channels-redis
chardet
constantly
cryptography
daphne
Django
django-bootstrap-static
django-cropperjs
hiredis
hyperlink
idna
importlib-metadata
incremental
msgpack
numpy
opencv-python
optional-django
packaging
Pillow
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
PyHamcrest
pyOpenSSL
pyparsing
pytz
redis
requests
service-identity
six
sqlparse
Twisted
txaio
urllib3
webencodings
zipp
zope.interface