{% extends "index.html" %}

{% block form_page %}
<form id="sploosh" 
  <div id="splash" class="container-fluid">
    <header>
        <div id="Unofficial">
            THIS IS A PERSONAL ENDEAVOUR YOU MAY USE, NOT ABUSE, FREELY.
        </div>
        <div id="PageHeader">Wasted Services produced by TwoDoers(a nonliable enterprise)</div>
    </header>


    <section id="notice">
      <div id="twoNotify" class="mainContent">
        <br />
        <p class="container-fluid justify-content-center">You derserve to do more with less, unless you try to do more than you're allowed</p>
          <p>This website has deep connectivity and utilizes information belonging to the U.S. Government's (USG) Information Systems (IS)<br /><br />
          -Clicking "Acknowledge" constitutes consent to keystroke level logging on and only during your time on the site as well as certificate mining should you chose certain options. 
          <br /><br />
          -It is the intent of TwoDoers to NEVER under any circumstance access, track, view, nor transfer any information to or from your personal computer though you are free to download anything you wish.
          <br /><br />
          -Take heed in remembering you may be attempting to connect or already connected to a government system and likely spilling any other webrequests you may have open at the time, be vigilient (close any other tabs and stay off other sites while here)<br /><br />
          </p>
        <div class="container justify-content-center">
          <span>This notice will provide 30 days untill having to close it agin</span>
          <input type="submit" name="ack" value="acknowledge" id="gtg" class="btn btn-primary" />
          <input type="submit" name="nope" value="nevermind me" id="bye" class="btn btn-danger" />
      </div>

  </div>
{% endblock %}